.header-container {
  background: #030303;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2020;
  transform: translateY(0);
  transition: transform 0.3s ease;
  display: flex;
}
.headerContainer {
  height: 56px;
  padding: 0 16px;
  display: flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-container::after {
  content: "";
  height: 5px;
  opacity: 1;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 2050;
  bottom: 0;
  left: 0;
}

.start {
  display: flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navigationBtn {
  margin: 0;
  color: #030303;
  width: 40px;
  height: 40px;
  padding: 13px 6px;
  margin-right: 0px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  font-size: 0;
}

.logo-container {
  display: flex;
  width: 109px;
  padding: 18px 14px 18px 16px;
}
logo {
  width: 80px;
  height: 20px;
  display: inline-flex;
}
.search-container {
  width: 680px;
  flex: 0 1 732px;
  min-width: 0;
  display: flexbox;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.search {
  display: flex;
  margin: 5px 0 0 40px;
  padding: 0 4px;
  flex: 1;
  flex-basis: 1e-9px;
}
.search-form {
  height: 40px;
  position: relative;
  flex: 1;
  flex-basis: 1e-9px;
  display: flex;
  flex-direction: row;
}
.seacthIcon {
  padding-left: 10px;
  position: relative;
  align-items: center;
  background-color: #0f0f0f;
  border: 1px solid #1c62b9;
  border-right: none;
  border-radius: 40px 0 0 40px;
  border-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  caret-color: f1f1f1;
  color: #ffffffe0;
  display: flex;
  flex-direction: row;
}

.search-box {
  position: relative;
  align-items: center;
  background-color: #0f0f0f;
  border: 1px solid #313131;
  border-right: none;
  border-radius: 40px 0 0 40px;
  box-shadow: inset 0 1px 2px transparent;
  caret-color: f1f1f1;
  color: #ffffffe0;
  padding: 0 4px 0 16px;
  margin-left: 32px;
  flex: 1;
  flex-basis: 1e-9px;
  display: flex;
  flex-direction: row;
}
.selected-box {
  border: 1px solid #1c62b9;
  border-left: none;
  border-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  margin-left: 0px;
}
.search-input {
  width: 100%;
}
.input-box {
  background: transparent;
  width: 100%;
  height: 24px;
  vertical-align: top;
}
.input-box-b {
  float: right;
  vertical-align: top;
  font-size: 16px;
  padding: 0 2px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  ine-height: 24px;
}

.gsst_a {
  cursor: pointer;
  padding: 0 4px;
  display: inline-block;
}
.gsst_e {
  filter: invert(100%);
  vertical-align: middle;
  opacity: 0.6;
}

.gsok_a {
  background: url(data:image/gif;base64,R0lGODlhEwALAKECAAAAABISEv///////yH5BAEKAAIALAAAAAATAAsAAAIdDI6pZ+suQJyy0ocV3bbm33EcCArmiUYk1qxAUAAAOw==)
    no-repeat center;
  display: inline-block;
  height: 11px;
  line-height: 0;
  width: 19px;
}
.input-box-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-contents: center;
  /* padding: 0; */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.input-box-c input {
  box-sizing: border-box;
  padding: 1px 0;
  margin: 0;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: inherit;
  font-family: Roboto, Noto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  max-width: 100%;
  outline: none;
  text-align: inherit;
  width: 100%;
  -ms-flex: 1 1 0.000000001px;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}

.search-icon {
  border: 1px solid #303030;
  background-color: #ffffff14;
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  height: 40px;
  width: 64px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon-box {
  width: 24px;
  height: 24px;
  color: #f1f1f1;
  opacity: 1;
}
.search-icon-shape {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.micro-icon {
  border-radius: 100px;
}

.micro-btn {
  color: #fff;
  min-width: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 14px;
  line-height: 36px;
  margin: 0;
  white-space: nowrap;
  text-transform: none;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
  outline-width: 0;
  box-sizing: border-box;
  background: none;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  flex: 1;
  flex-basis: 1e-9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.micro-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.end {
  display: flex;
  /* min-width: 225px; */
  align-items: center;
  flex-direction: row;
  padding: 8px;
  justify-content: flex-end;
}

.end .btn1 {
  background-color: transparent;
  color: #313131;
}

.end .btn1 a {
  color: inherit;
  border-radius: inherit;
  text-decoration: none;
  display: flex;
  cursor: pointer;
}

.end .end-box {
  width: 40px;
  height: 40px;
  padding: 8px;
  line-height: 1;
}

.end .end-box button {
  vertical-align: middle;
  color: inherit;
  outline: none;
  background: none;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.end .id {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  overflow: hidden;
}
